.toggle-button {
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  border-radius: 25px;
  background-color: #ddd;
  cursor: pointer;
  position: relative;
  background-color: #78b313;
  padding: 20px;
}

.ball {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  left: 5px;
  top: 5px;
}

.text {
  color: white;
  font-size: 12px;
  font-weight: bold;
  transform: translateX(20px);
}

.checked .ball {
  transform: translateX(60px);
}

.checked .text {
  color: white;
  font-size: 12px;
  font-weight: bold;
  transform: translateX(0px);
}
