
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: 50%; /* Two items per row */
  height: 200px; /* Fixed height */
  border: 1px solid black;
  transition: border-color 0.3s;
}

.gallery-item:hover {
  border-color: green;
}

.image-container {
  position: relative;
  display: inline-block;
}


/* .image-file-preview{
  object-fit: "contain";
  width: "1280px";
  height: "720px";
} */

.full-screen-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.full-screen-button:hover {
  opacity: 0.7;
}


.grid {
  display: grid;
  gap: 10px;
  align-items: center;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.thumbnail-wrapper {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.thumbnail-wrapper:hover {
  border: 1px solid #78b313;
  border-radius: 5px;
  padding: 10px;
}

.thumbnail-wrapper:hover .custom-thumbnail {
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.thumbnail-wrapper:hover .thumbnail-text {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.thumbnail-text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50px);
}